body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    background: rgb(0,212,255);
    background: linear-gradient(146deg, rgba(0,212,255,1) 3%, rgba(19,19,146,1) 37%, rgba(2,0,36,1) 100%);
}

.container {
    max-width: 700px;
    text-align: center;
   
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

h1 {
    color: #ffffff;
}

form {
    margin: 20px 0;
}

select, button {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.result {
    margin-top: 20px;
    
    padding: 15px;
    /* border-radius: 5px; */
    /* From https://css.glass */
    background: rgba(188, 194, 255, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    border: 1px solid rgba(188, 194, 255, 0.88);
}
